.container{
  margin: auto;
  width: 85%;
  padding: 60px 60px 20px 60px;
}

mat-card{
  background-color: rgb(87, 83, 83);
  margin-bottom: 10px;
}

.buttonWithTitle{
  height: auto;
  text-align: left;
}

.card-news-title-link{
  color: #fff;
  text-decoration: none;
}

mat-card-content{
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 10px;
}

.card-content-date{
  display: flex;
  align-items: flex-end;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

.mat-badge {
  position: relative;
  right: 25px;
  top: 7px;
}
